<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">

  <div class="row">
    <div class="col-xs-12">
      <h1>
        Welcome {{ name }} to my first Angular App!
      </h1>
      <!-- Assignment two -->
      <input type="text" class="form-control" [(ngModel)]="userName">

      <button class="btn btn-primary" [disabled]="!userName" 
      (click)="emptyUserName()">EmptyUserName</button>

      <!-- Assignment one  
      <div class="app-warning-alert"></div>
      <div app-success-alert></div> -->
     
    </div>
  </div>
</div>